.container {
  margin: 0 auto;
}
.wrapper {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 0 auto;
  background-color: rgb(189, 216, 217);
}
.cube {
  width: 50px;
  height: 50px;
  float:left;
  box-sizing: border-box;
  cursor: pointer;
}
.yellow {
  background-color: rgb(255, 153, 0);
  border-radius: 50px;
}
h3 {
  width: 1005px;
  color: blue;
  margin: 20px auto;
  font-size: 33px;
}
body {
  background-color: grey;
  text-align: center;
}
.button__wrapper {
  width: 300px;
  height: 200px;
  margin: 20px auto;
  display: flex;
}
.button {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid blue;
  background-color: rgb(51, 12, 12);
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  font-size: 26px;
  color: rgb(73, 228, 255);
}
.button:hover {
  opacity: 0.7;
  transition: all 0.2s ease;
}
.active {
  opacity: 0.3;
}
.button:active {
  opacity: 0.2;
}
.cube:active {
  background-color: aqua;
}
.left, .right {
  margin-top: 50px;
}
.none {
  display: none;
}
.wall {
  background-color: rgb(0, 157, 255);
}
.finish {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: rgb(255, 98, 0);
  padding-bottom: 5px;
}